.bg-black-opacity{
    background-color: rgba(0,0,0,0.2) !important;
}
.bg-green{
    background-color: #28a745;
}

.bg-brand{
    background-color: #33075A;
}

.noHeader{
    margin-top: 208px;
}
.bg-brand-50{
    background-color: rgba(#33075A,0.3) !important;
}