.border-primary{
    border-color: $brand-primary !important;
}
.border-radius-extra-small{
    border-radius: $border-radius-extra-small;
}
.border-radius-small{
    border-radius: $border-radius-small;
}
.border-radius-large{
    border-radius: $border-radius-large;
}

.border-radius-extreme{
    border-radius: $border-radius-extreme;
}
.border-radius-fill{
    border-radius: $border-radius-fill;
}

