.sticky-top-130 {
    top: 167px;
    position: sticky;
    z-index: 1020;
}

.z-header {
    z-index: 1031 !important;
}

.cursor-pointer {
    cursor: pointer;
}

// HEADER
.hide-nav {
    height: 0;
    visibility: hidden;
    min-height: 0;
    padding: 0;

    .logo,
    .profile {
        display: none;
    }
}

.header-logo {
    transition: min-height 0s ease !important;
}

.img-hover {
    transition: all 0.3s ease !important;

    &:hover {
        transform: scale(1.05);
    }
}

.card-hover {
    transition: all 0.3s ease !important;

    &:hover {
        transform: scale(1.03);
    }
}

body {
    overflow: overlay;
    &::-webkit-scrollbar-track,
    ::-webkit-scrollbar-track {
        display: none;
    }

    &::-webkit-scrollbar,
    ::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: linear-gradient(to bottom, rgba(194, 17, 161, 0.5) 0%, rgba(51, 7, 90, 0.5) 60%, rgba(51, 7, 90, 0.8) 100%);
                
                
    }
}

.page-header-image-custom {
    background-image: linear-gradient(to right, rgb(22, 13, 59) 0%, rgba(51, 7, 90, 1) 60%, rgba(51, 7, 90, 1) 100%);
}