$number: 20;
$unit: rem;

@for $i from 1 through $number {
  .width-#{$i}#{$unit} {
    width: $i + rem !important;
  }
  .height-#{$i}#{$unit} {
    height: $i + rem !important;
  }
}
@for $i from 1 through $number {
    .min-width-#{$i}#{$unit} {
      width: 10 + rem !important;
    }
    .min-height-#{$i}#{$unit} {
      height: 10 + rem !important;
    }
  }

  @for $i from 1 through $number {
    .max-width-#{$i}#{$unit} {
      width: 10 + rem !important;
    }
    .max-height-#{$i}#{$unit} {
      height: 10 + rem !important;
    }
  }
$min-widths: 5rem, 6rem, 7rem;

@each $min-width in $min-widths {
  .min-w-#{$min-width} {
    min-width: $min-width !important;
  }
}

.min-w-full{
  min-width: 100% !important;
}

.min-h-full{
  min-height: 100% !important;
}

.height-modal-80vh{
  height: 80vh;
}